@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --strong-orange: #ff6c44;
  --light-orange: #fff0ec;
  --dark: #1e1e1e;
  --less-dark: #595959;
  --kinda-white: #f3f3f3;

  --primary: #317caf;
  --danger: #a02f40;

}

