@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --strong-orange: #ff6c44;
  --light-orange: #fff0ec;
  --dark: #1e1e1e;
  --med-dark: #595959;
  --less-dark: #B0BEC5;
  --kinda-white: #f3f3f3;

  --primary: #317caf;
  --danger: #a02f40;

}

/* background: #FDC830;  fallback for old browsers */
.gradiantKing {
  background: -webkit-linear-gradient(to top, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

